<h4>Register</h4>

<form [formGroup]="registerFormGroup">
  <div class="container">
    <mat-form-field appearance="outline">
      <mat-label>UserName</mat-label>
      <input matInput placeholder="Aaron Fernandes" formControlName="userName" />
      <mat-hint>Enter a username</mat-hint>
      <mat-error *ngIf="registerFormGroup.get('userName').hasError('required')">Required</mat-error>
      <mat-error *ngIf="registerFormGroup.get('userName').hasError('minlength')">Must be at least 3 characters</mat-error>
      <mat-error *ngIf="registerFormGroup.get('userName').hasError('forbidden')">Selected username is forbidden</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="password" formControlName="password" />
      <mat-hint>Enter a password</mat-hint>
      <mat-error *ngIf="registerFormGroup.get('password').hasError('required')">Required</mat-error>
      <mat-error *ngIf="registerFormGroup.get('password').hasError('minlength')">Must be at least 8 characters</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="abc@xyz.com" formControlName="email" />
      <mat-hint>Enter an email id</mat-hint>
      <mat-error *ngIf="registerFormGroup.get('email').hasError('required')">Required</mat-error>
      <mat-error *ngIf="registerFormGroup.get('email').hasError('email')">Not a valid email</mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Contact</mat-label>
      <input type="tel" matInput placeholder="9999999999" formControlName="contact" />
      <mat-hint>Enter a contact number</mat-hint>
    </mat-form-field>

    <div>
      <button mat-raised-button color="primary" (click)="register()">Register</button>
      <button mat-raised-button color="accent">Login</button>
    </div>

  </div>
</form>